@{
    ViewData["Title"] = "Asignaturas";
}

<div class="encabezado-pantalla">
    <h2>ASIGNATURAS</h2>
    <div class="botones-accion">
        <button class="btn">+ AGREGAR ASIGNATURA</button>
    </div>
</div>

<table class="tabla-siara">
    <thead>
        <tr>
            <th>CLAVE</th>
            <th>NOMBRE</th>
            <th>HORAS - SEMANA</th>
            <th>TEMAS</th>
            <th>SEMESTRE</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>H1B63</td>
            <td>MATEMATICAS</td>
            <td>20</td>
            <td>4</td>
            <td>6TO SEMESTRE</td>
            <td><button class="btn-pequeno">Editar</button></td>
        </tr>
        <tr>
            <td>WAD2</td>
            <td>HISTORIA</td>
            <td>8</td>
            <td>5</td>
            <td>6TO SEMESTRE</td>
            <td><button class="btn-pequeno">Editar</button></td>
        </tr>
        <tr>
            <td>PFGH</td>
            <td>DESARROLLO SUSTENTABLE</td>
            <td>12</td>
            <td>6</td>
            <td>6TO SEMESTRE</td>
            <td><button class="btn-pequeno">Editar</button></td>
        </tr>
    </tbody>
</table>